// .row{
//     display: flex;
//     padding: 2rem 0;
//     background-color: var(--color-grey-light);

//     &__item{
//         max-width: max-content;
//         width: 5rem;
//         flex: 1 1;
//         padding: 0 2rem;
        
//         white-space: nowrap;
//         overflow: hidden;
//         text-overflow: ellipsis;

//         &--created_by{
//             //width: 1rem;

//         }
//     }
// }


.row {
    display: table-row;

    &__item{
        display: table-cell;
        padding: 2rem;
        border-bottom: 1px solid var(--color-grey-dark);

        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;


        &--id,
        &--closed,
        &--current,
        &--max,
        &--min,
        &--tendency{
            width: 1rem;
            text-align: center;
            }
        
        & a {
            text-decoration: none;
            color: var(--color-grey-dark);
        }
        
    }
}

.bold{
    font-weight: 700;
}

.arrow{

    &-up{
        color: var(--color-green);
        font-weight: 700;
        font-size: 2rem;
    }

    &-down{
        color: var(--color-red);
        font-weight: 700;
        font-size: 2rem;
    }
}