:root{
    --color-primary: #0062FF;
    --color-primary-light: #4189fd;


    --color-green: #27AE60;
    --color-red: #EB5757;

    --color-grey-dark: #333;
    --color-grey-light: #faf9f9;

    --shadow: 0 2rem 6rem rgba(0,0,0,.3)
}
